body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    color:#4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/*===========hero==========*/

.hero {
    background-color: #2E2F42;
}

.hero-container {
    padding: 120px 0;
}

.title-hero {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-top: 188px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button-hero {
    display: block;
    color: #FFF;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    border-radius: 4;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
    margin-top: 48px;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/*===============section list advantages================*/
.section-list .title-second {
    line-height: 1.2;
}

.list .list-advantages {
    display: flex;
    padding: 120px 0 120px;
    gap: 8px;
    margin: 0 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-second {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*===================section team==================*/

.section-team .title-second {
    line-height: 1.11;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team .list-team {
    display: flex;
    padding-bottom: 120px;
}

.team .list-team-image {
    margin-bottom: 32px;
}

.section-team {
    background-color: #F4F4FD;
}


.team .list-team-items {
    background: #FFF;
    gap: 8px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}

/*=====================section-portfolio==================*/

.portfolio .list-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.list-portfolio-item {
    border: 1px solid #E7E9FC;
    background-color:  #FFF;
}

.list-portfolio-image {
    background-color: lightgray -1px 0px / 101.111% 100% no-repeat;
}


/*==================footer==================*/

.footer {
    background-color: hsl(237, 18%, 22%);
    padding: 100px 0;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-part {
    color: #F4F4FD;
}

.footer-text {
    font-family: Roboto;
    color:#F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}